# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore specific notebook
main.ipynb

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

__pycache__/
